// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body {
    background-image: url('/cowsandsheep.dev/images/cows-and-sheep-bg.jpg'); 
    background-size: cover;
    font-family: $font-family-montserrat;
}


// HEADER
.header {
    // background-color: $brand-green;
    .logo {padding: $padding-20upper-20lower}
    .col{
        .content {
            text-align:center;
            color: $normal-color;
            a {
                font-size: $font-size-standard; 
                color: $normal-color; 
                text-decoration: none;
            }
            a:hover { color: $hover-color; }
        }
    }
    .login {
        padding-top: 5px;
        background-image: url('/cowsandsheep.dev/images/cows-and-sheep-sign-up-bg.png');
        background-repeat: no-repeat;
        background-position: top center;
    }
    .social {
        background-image: url('/cowsandsheep.dev/images/cows-and-sheep-social-bg.png');
        background-repeat: no-repeat;
        background-position: top right;
        .content {
            ul {
                li {
                    float:left;
                    list-style-type: none;
                    margin: 10px 0 0 2px;
                }
            }
            .nav-menu { 
                float:left; width: 54%; margin-top: 5px; 
                .menu { margin-left:46px; }
            }
            .nav-social { float:left; width: 46%; position:relative; right:15px; }
        }
    }
}

// HOMEPAGE
.slider { padding: $padding-100upper-20lower }

.search-container {
    border-radius: 20px;
    background-color:#ffffff;
    padding: $padding-5top-5bottom-10side;
    margin:0 auto;
    width:785px;
    input { width:100%;height:100%; }
    select { width:100%; height:100%; }
    .submit-search {
        background-color:#4ea751;
        color:#ffffff;
        font-size:16px;
        width:100%; 
        text-align:center;
        display:block;
        border-radius:20px;
        padding:5px 0 5px 0;
    }
}

// FOOTER
.footer { 
    width: 100%;
    height: 36px;
    background-image: url('/cowsandsheep.dev/images/cows-and-sheep-footer-bg.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    position: fixed;
    bottom: 0px;
    left:0px;
 }